# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore
#

# Ignore this file itself
.gcloudignore

# Git-related files
.git
.gitignore

# Node modules and related
node_modules/
npm-debug.log

# MacOS system files
.DS_Store

# Environment variables
.env

# Readme (optional – you can remove this if you want the readme uploaded)
readme

# Also ignore everything specified in .gitignore
#!include:.gitignore